[Unit]
Description=check battery status of pocket chip

[Service]
Environment=OCELOT_PATH=/home/user/gits/ocelot/
Environment=HOME=/root
Type=simple
ExecStart=/root/bin/ochipbattery

[Install]
WantedBy=multi-user.target
