[Unit]
Description=check updates for ocelot side-panel
After=hibernate.target

[Service]
Type=oneshot
Environment=OCELOT_PATH=/home/poinck/
ExecStart=/usr/bin/sleep 42 ; /home/poinck/bin/oupdates
    # TODO  change path to "oupdates" and OCELOT_PATH

[Install]
WantedBy=hibernate.target

