[Unit]
Description=check updates for ocelot side-panel
After=hibernate.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sleep 42 ; /home/poinck/bin/oupdates
    # TODO  change path to "oupdates"

[Install]
WantedBy=hibernate.target

