[Unit]
Description=display on monitor connected to DP2-1 on resume
After=suspend.target

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/xrandr --output DP2-1 --mode 1920x1200

[Install]
WantedBy=suspend.target
